body {
    background-color:white;
    display: flex;
    width: 90vw;
    height: 90vh;
}

/* Solid border */
hr.solid {
    border-top: 2px solid #bbb;
    width: 200px;
    text-align: left;
    margin-left: 0;
}

#sidebar {
    width: 30%;
    height: 100%;
}
  
#addToDoBlock {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    width: 70%;
    height: 100%;
    border-radius: 10px;
}



#toDoCreateForm {
    text-align: center;
}

#toDoCreateForm button {
    border: none;
    background: none;
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
    vertical-align: middle;
}

#toDoField {
    width: 375px;
    border-radius: 10px;
    height: 40px;
    border: none;
    background: #fff;
    font-size: 15px;
    vertical-align: middle;
}

#toDoField:focus-visible {
    outline: none;
}


#todoUl{
    list-style-type: none;
}

#todoUl form {
    text-align: left;
}

#todoUl input {
    border: none;
    border-bottom: 1px solid;
    float: left;
    width: 58%;
    font-size: 18px;
}
#todoUl input:focus-visible{
    outline: none;
}

#todoItem{

}