body {
    background-color:white;
    display: flex;
    width: 99vw;
    height: 96vh;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 400;
    
}

input,textarea::-webkit-input-placeholder { 
    font-family: "Lexend Deca", sans-serif;
}


h6,h4{
    margin: 5px;
    font-optical-sizing: auto;
}


/* Solid border */
hr.solid {
    border-top: 0.8px solid #FAFAFA;
    width: 90%;
    text-align: left;
    margin-left: 0;
}

hr.taskDivider {
    border-top: 0.8px solid #FAFAFA;
    width: 100%;
    text-align: left;
    margin-left: 0;
}

.expand-task-button {
    background: none;
    border: none;
    font-size: 25px;
}

.fa-solid {
    color: grey !important;
}

#menuHandle {
    font-size: 25px;
}

#sideBar-header {
    width: 85%;
    margin-bottom:30px;
}

#sidebar {
    width: 15%;
    height: 100%;
    border-radius: 10px;
    color: rgb(3,3,3);
    font-size: 16px;
    line-height: 24px;
    padding: 20px 0 0 20px;
    background-color: #FAFAFA;
    transition: 0.5s ease-out; 
    position: relative; 
    overflow-x: hidden;
}

#searchMenu {
    width: 90%;
    margin-top: 20px;
    height: 40px;
    border-radius: 5px;
    border: 2.3px solid #FAFAFA;
    opacity: 0.8;
    background: white;
    box-shadow: 2px 2px 2px 2px #FAFAFA;
}

#searchMenu:focus-visible {
    outline: none;
}


#sideBar-tasks-menu ul{
    list-style: none;
    line-height: 2.5;
    padding-left: 10px;
    padding-top: 2px;
    margin: 0;
    max-height:250px;
    overflow-y: auto;
}

#lists{
    list-style: none;
    line-height: 2.5;
    padding-left: 7px;
    padding-top: 2px;
    margin: 0;
    max-height:250px;
    overflow-y: auto;
}

#sideBar-tasks-menu ul.nav li.selected {
    background-color:#FAFAFA;
   }

#sideBar-tasks-menu span{
   margin-left: 10px;
}

.addlistbutton,.colorpickerbutton {
    border: none;
    background: none;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    vertical-align: middle;
    color: grey;

}

#sidebar-lists-menu .list-item-button {
    padding: 13px 11px 6px;
    margin-right: 5px;
    border: none;
}

.list-counter-button {
    margin-right: 10px;
    background-color: #e7e7e7 !important;
    color: #fff;
    border: 1px solid #9fa3a7 !important;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .08), inset 0 1px 2px rgba(255, 255, 255, .67), inset 0 -1px 0 rgba(0, 0, 0, .14);
    background-image: -moz-linear-gradient(90deg, #928b8b 0%, #9a9292 100%);
    background-image: -o-linear-gradient(90deg, #928b8b 0%, #9a9292 100%);
    background-image: -webkit-linear-gradient(90deg, #928b8b 0%, #9a9292 100%);
    background-image: linear-gradient(90deg, #928b8b 0%, #9a9292 100%);
}



#colorpicker {
    border: none;
    width: 25px;
    height: 25px;
    /* outline-color: transparent; */
    background-color: transparent;
}

#sidebar-tags-menu button {
    background-color: #EBEBEB;
    border: none;
    font-size: 15px;
    border-radius: 9px;
    padding: 9px;
    width: 92px;
    height: 37px;
    font-weight: normal;
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    cursor: pointer;
    vertical-align: middle;
}
  
#addToDoBlock {
    background-color: white;
    width: 80%;
    height: 100%;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

#toDoCreateForm {
    padding-left: 25px;
    border: 1.5px solid #FAFAFA;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 2px #FAFAFA;
}

#toDoCreateForm button {
    border: none;
    background: none;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    vertical-align: middle;
    color: grey;

}


#toDoField {
    width: 95%;
    border-radius: 0px;
    height: 40px;
    border: none;
    font-size: 15px;
    vertical-align: middle;
}

#toDoField:focus-visible {
    outline: none;
}


#todoList {
    list-style: none;
    line-height: 1.5;
    padding-left: 10px;
    padding-top: 20px;
    margin: 0;
}


#toDoItem button{
    float: right;
}



#taskTitleField {
    width: 95%;
    border-radius: 0px;
    height: 40px;
    padding-left : 10px;
    border: none;
    margin-top:20px;
    font-size: 15px;
    vertical-align: middle;
    box-shadow: 0px 1px 1px 1px #f5efef
}

#taskTitleField:focus-visible {
    outline: none;
}

#taskDescription {
    margin-top: 20px;
    width: 95%;
    border-radius: 0px;
    height: 80px;
    border: none;
    font-size: 15px;
    vertical-align: middle;
}

#taskDescription:focus-visible {
    outline: none;
}

.showMore {
    opacity: 1;
   transition: 0.3s ease-in-out;
     
 }

 .show-none {
    opacity: 0;
   transition: 0.3s ease-in-out;
     
 }

  #taskDetailBlock {
    width: 0;
    height: 0;
    border-radius: 10px;
    color: rgb(3,3,3);
    font-size: 16px;
    line-height: 24px;
    padding: 20px 0 0 20px;
    position: relative;
    background-color: #FAFAFA;
    transition: 0.3s ease-in-out;
  }
.expand-task-button {
    cursor: pointer;
}
